:root {
    --main: #14D2D9;
    --light-main: #A7FBFF;
    --font: #3E4465;
    --red: #FD657F;
    --blue: #658EFD;
    --black: #333333;
    --white: #FFFFFF;
    --bg-white: #FAFAFA;
    --bg-gray: #F2F2F2;
    --border: #DDDDDD;
}